@config "../tailwind.config.js";
@import "tailwindcss";

/* App-specific globals */

/* Small, comfortable defaults */
:root {
	--rr-radius: 1rem;
}

html, body {
	height: 100%;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
